<html>

<head>
  <title>Homepage</title>
</head>

<body>

  <h1><b>HOMEPAGE</b></h1>
    
  {% if session.username %}
  <p>
    You're signed in as: {{ session.username }}
  </p>
  <p>
    <form action="/logout" method="get">
      <input type="submit" value="Sign out" />
    </form>
  </p>
  {% else %}
  <form action="/login" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Sign in" />
  </form>

    <p>
      Don't have an account?
    </p>

    <form action="/register" method="get">
      <input type="submit" value="Register" />
    </form>

  {% endif %}

    <hr />

    <h2><a href="/new_post">New Post</a></h2>

    <hr />

    <h2>Recent Posts</h2>

    <hr />

    {% for post in posts %}
        <div>
        {% if post[3] %}
          <p><img src="{{ post[3] }}" alt="Post Image" style="max-width:500px;"/></p>
        {% endif %}
        <p><b><h2><a href="/post/{{ post[0] }}">{{ post[2] }}</a> by <a href="/user/{{ post[1] }}">{{ post[1] }}:</a></h2></b></p>
        <p>{{ post[4] }}</p>
        <p>Likes: {{ post[6] }} | <i>Posted at: {{ post[5] }}</i></p>
        <hr />
      </div
    {% endfor %}

</body> 

</html>