<html>

<head>
  <title>Sign up!</title>
</head>

<body>
  <h1><b>REGISTER</b></h1>
  
  <form action="/create" method="post">
    <p>
      Username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Password: <br />
      <input type="password" name="password1" />
    </p>
    <p>
      Repeat password: <br />
      <input type="password" name="password2" />
    </p>
    <input type="submit" value="Create user" />
  </form>

  <form action="/" method="get">
    <input type="submit" value="Back" />
  </form>

</body>

</html>