<html>
<head>
  <title>{{ username }}</title>
</head>
<body>

  <h1><b>USER: {{ username }}</b></h1>

  <hr />

  <h2> Posts made: </h2>

  <hr />
  
    {% for post in user_posts %}
        <div>
        <p><b><h2><a href="/post/{{ post[0] }}">{{ post[2] }}</a>:</h2></b></p>
        {% if post[3] %}
            <p><img src="{{ post[3] }}" alt="Post Image" style="max-width:500px;"/></p>
        {% endif %}
        <p>{{ post[4] }}</p>
        <p>Likes: {{ post[6] }} | <i>Posted at: {{ post[5] }}</i></p>
        </div>
        <hr />
    {% endfor %}

</body>
</html>